---
interface Props {
  uuid: string;
  displayName: string;
  description: string;
  displayIcon: string;
  displayIcon2: string;
  verticalPromoImage: string;
}

const { uuid, displayName, description, displayIcon, displayIcon2, verticalPromoImage } = Astro.props;
import { Img } from "astro-imagetools/components";
---

<a href={`/bundle/${uuid}`} class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
  <h2 class="text-2xl font-semibold text-valorant hover:underline">{displayName}</h2>
  <Img src={displayIcon} alt={displayName} />
</a>
