---
interface Props {
  uuid: string;
  assetObjectName: string;
}

const { uuid, assetObjectName } = Astro.props;
---

<a href={`/valorant/competitive/${uuid}`} class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
  <h2 class="text-2xl font-semibold text-valorant hover:underline">{assetObjectName}</h2>
</a>
