---
import Layout from "../../../layouts/Layout.astro";
import ProductDetail from "../../../components/store/ProductDetail.jsx";

// Obtener el ID del producto desde la URL
const { id } = Astro.params;
---

<Layout>
  <div class="container mx-auto p-8 bg-valorant-dark text-valorant-light min-h-screen">
    <ProductDetail client:load productId={id} />
  </div>
</Layout>
