---
import Layout from "../layouts/Layout.astro";
const {
  geo: { city },
} = Astro.locals.netlify.context;
---

<Layout title="P치gina no encontrada">
  <h1>Hola, amable visitante de {city}!</h1>
  <p>Lo sentimos, la p치gina que buscas no existe.</p>
  <div class="container mx-auto p-8 text-center">
    <h1 class="text-6xl font-bold text-valorant mb-8">404</h1>
    <p class="text-2xl mb-4">Lo sentimos, la p치gina que buscas no existe.</p>
    <a href="/" class="text-valorant hover:underline text-xl"
      >Volver a la p치gina principal</a
    >
  </div>
  
</Layout>
