---
//src/pages/valorant.astro
import CardApis from "../components/CardApis.astro";
import Layout from "../layouts/Layout.astro";
import bannerDummy from "../assets/productos.webp";
---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <CardApis
        href="/dummy/products/"
        imageSrc={bannerDummy}
        imageAlt="Valorant Banner api"
        title="Productos"
        description="Explora la lista de productos."
      />
    </div>
  </div>
</Layout>
