---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import bannerValo from "../assets/VALORANT_logo4.jpg";
import bannerZzz from "../assets/zzz.jpeg";

const {
  geo: { city },
} = Astro.locals.netlify.context;

---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
      <!-- Mostrar la bienvenida con ciudad, país y clima -->
<h1>Netlify Edge Functions with Astro</h1>
<h1>Hola, amable visitante de {city}!</h1>

<main>
  <h1>Netlify Edge Functions with Astro</h1>

  Welcome, visitor from COUNTRYNAME!

</main>      
      <!-- Enlaces a otras páginas -->
      <a href="/valorant-agents" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <Image src={bannerValo} alt="Valorant Banner api" class="w-full object-cover mb-4 rounded-lg" />
        <h2 class="text-2xl font-semibold text-valorant hover:underline">Valorant Agents</h2>
        <p>Explora la lista de personajes de Valorant.</p>
      </a>
      <a href="/zzz" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <Image src={bannerZzz} alt="ZZZ" class="w-full object-cover mb-4 rounded-lg" />
        <h2 class="text-2xl font-semibold text-valorant hover:underline">ZZZ</h2>
        <p>Explora el contenido de ZZZ.</p>
      </a>
    </div>
  </div>
</Layout>
