---
import ValorantAgent from "../components/ValorantAgent.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <a href="/valorant-agents" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <h2 class="text-2xl font-semibold text-valorant hover:underline">Valorant Agents</h2>
        <p>Explora la lista de personajes de Valorant.</p>
      </a>
      <a href="/zzz" class="bg-valorant-dark p-4 rounded-lg shadow-lg block hover:shadow-2xl transition-shadow duration-300">
        <h2 class="text-2xl font-semibold text-valorant hover:underline">ZZZ</h2>
        <p>Explora el contenido de ZZZ.</p>
      </a>
    </div>
  </div>
</Layout>
