---
//src/pages/valorant.astro
import CardApis from "../components/CardApis.astro";
import bannerRam from "../assets/ram.webp";
import Layout from "../layouts/Layout.astro";
import bannerLoc from "../assets/loc.webp";
import bannerEpi from "../assets/epi.jpg";

---

<Layout>
  <div class="container mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <CardApis
        href="/rickandmorty/characters"
        imageSrc={bannerRam}
        imageAlt="Characters Rick and Morty"
        title="Personajes de Rick y Morty"
        description="Explora la lista de personajes de Rick y Morty."
      />
      <CardApis
        href="/rickandmorty/locations"
        imageSrc={bannerLoc}
        imageAlt="Locations Rick and Morty"
        title="Ubicaciones de Rick y Morty"
        description="Explora la lista de ubicaciones de Rick y Morty."
      />
      <CardApis
      href="/rickandmorty/episodes"
      imageSrc={bannerEpi}
      imageAlt="Episodes Rick and Morty"
      title="Episodios de Rick y Morty"
      description="Explora la lista de episodios de Rick y Morty."
        />
    </div>
  </div>
</Layout>
